source/Service References/V10.CampaignManagementService/CampaignManagementService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.CampaignManagement.Api.DataContracts.V10" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.CampaignManagement.Api.DataContracts.V10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAppUrl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppUrl" nillable="true" type="tns:AppUrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppUrl" nillable="true" type="tns:ArrayOfAppUrl" />
  <xs:complexType name="AppUrl">
    <xs:sequence>
      <xs:element minOccurs="0" name="OsType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppUrl" nillable="true" type="tns:AppUrl" />
  <xs:complexType name="CustomParameters">
    <xs:sequence>
      <xs:element name="Parameters" nillable="true" type="tns:ArrayOfCustomParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomParameters" nillable="true" type="tns:CustomParameters" />
  <xs:complexType name="ArrayOfCustomParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomParameter" nillable="true" type="tns:CustomParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomParameter" nillable="true" type="tns:ArrayOfCustomParameter" />
  <xs:complexType name="CustomParameter">
    <xs:sequence>
      <xs:element name="Key" nillable="true" type="xs:string" />
      <xs:element name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomParameter" nillable="true" type="tns:CustomParameter" />
  <xs:complexType name="ArrayOfEntityIdToParentIdAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityIdToParentIdAssociation" nillable="true" type="tns:EntityIdToParentIdAssociation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityIdToParentIdAssociation" nillable="true" type="tns:ArrayOfEntityIdToParentIdAssociation" />
  <xs:complexType name="EntityIdToParentIdAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="ParentId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityIdToParentIdAssociation" nillable="true" type="tns:EntityIdToParentIdAssociation" />
</xs:schema>