source/Service References/V9.ReportingService/ReportingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://bingads.microsoft.com/Reporting/v9" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportingService" targetNamespace="https://bingads.microsoft.com/Reporting/v9" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IReportingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://bingads.microsoft.com/Reporting/v9/Imports">
      <xsd:import schemaLocation="https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc?xsd=xsd0" namespace="https://bingads.microsoft.com/Reporting/v9" />
      <xsd:import schemaLocation="https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc?xsd=xsd3" namespace="https://adapi.microsoft.com" />
      <xsd:import schemaLocation="https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SubmitGenerateReportRequest">
    <wsdl:part name="parameters" element="tns:SubmitGenerateReportRequest" />
  </wsdl:message>
  <wsdl:message name="SubmitGenerateReportRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
    <wsdl:part name="CustomerAccountId" element="tns:CustomerAccountId" />
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
    <wsdl:part name="DeveloperToken" element="tns:DeveloperToken" />
    <wsdl:part name="Password" element="tns:Password" />
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="SubmitGenerateReportResponse">
    <wsdl:part name="parameters" element="tns:SubmitGenerateReportResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitGenerateReportResponse_Headers">
    <wsdl:part name="TrackingId" element="tns:TrackingId" />
  </wsdl:message>
  <wsdl:message name="IReportingService_SubmitGenerateReport_ApiFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="IReportingService_SubmitGenerateReport_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="https://adapi.microsoft.com" name="detail" element="q1:AdApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="PollGenerateReportRequest">
    <wsdl:part name="parameters" element="tns:PollGenerateReportRequest" />
  </wsdl:message>
  <wsdl:message name="PollGenerateReportRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
    <wsdl:part name="CustomerAccountId" element="tns:CustomerAccountId" />
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
    <wsdl:part name="DeveloperToken" element="tns:DeveloperToken" />
    <wsdl:part name="Password" element="tns:Password" />
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="PollGenerateReportResponse">
    <wsdl:part name="parameters" element="tns:PollGenerateReportResponse" />
  </wsdl:message>
  <wsdl:message name="PollGenerateReportResponse_Headers">
    <wsdl:part name="TrackingId" element="tns:TrackingId" />
  </wsdl:message>
  <wsdl:message name="IReportingService_PollGenerateReport_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="https://adapi.microsoft.com" name="detail" element="q2:AdApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="IReportingService_PollGenerateReport_ApiFaultDetailFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ApiFaultDetail" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IReportingService">
    <wsdl:operation name="SubmitGenerateReport">
      <wsdl:input wsaw:Action="SubmitGenerateReport" name="SubmitGenerateReportRequest" message="tns:SubmitGenerateReportRequest" />
      <wsdl:output wsaw:Action="https://bingads.microsoft.com/Reporting/v9/IReportingService/SubmitGenerateReportResponse" name="SubmitGenerateReportResponse" message="tns:SubmitGenerateReportResponse" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/Reporting/v9/IReportingService/SubmitGenerateReportApiFaultDetailFault" name="ApiFaultDetailFault" message="tns:IReportingService_SubmitGenerateReport_ApiFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/Reporting/v9/IReportingService/SubmitGenerateReportAdApiFaultDetailFault" name="AdApiFaultDetailFault" message="tns:IReportingService_SubmitGenerateReport_AdApiFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PollGenerateReport">
      <wsdl:input wsaw:Action="PollGenerateReport" name="PollGenerateReportRequest" message="tns:PollGenerateReportRequest" />
      <wsdl:output wsaw:Action="https://bingads.microsoft.com/Reporting/v9/IReportingService/PollGenerateReportResponse" name="PollGenerateReportResponse" message="tns:PollGenerateReportResponse" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/Reporting/v9/IReportingService/PollGenerateReportAdApiFaultDetailFault" name="AdApiFaultDetailFault" message="tns:IReportingService_PollGenerateReport_AdApiFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/Reporting/v9/IReportingService/PollGenerateReportApiFaultDetailFault" name="ApiFaultDetailFault" message="tns:IReportingService_PollGenerateReport_ApiFaultDetailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportingService" type="tns:IReportingService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IReportingService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitGenerateReport">
      <soap:operation soapAction="SubmitGenerateReport" style="document" />
      <wsdl:input name="SubmitGenerateReportRequest">
        <soap:header message="tns:SubmitGenerateReportRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="tns:SubmitGenerateReportRequest_Headers" part="AuthenticationToken" use="literal" />
        <soap:header message="tns:SubmitGenerateReportRequest_Headers" part="CustomerAccountId" use="literal" />
        <soap:header message="tns:SubmitGenerateReportRequest_Headers" part="CustomerId" use="literal" />
        <soap:header message="tns:SubmitGenerateReportRequest_Headers" part="DeveloperToken" use="literal" />
        <soap:header message="tns:SubmitGenerateReportRequest_Headers" part="Password" use="literal" />
        <soap:header message="tns:SubmitGenerateReportRequest_Headers" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SubmitGenerateReportResponse">
        <soap:header message="tns:SubmitGenerateReportResponse_Headers" part="TrackingId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFaultDetailFault">
        <soap:fault use="literal" name="ApiFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault use="literal" name="AdApiFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PollGenerateReport">
      <soap:operation soapAction="PollGenerateReport" style="document" />
      <wsdl:input name="PollGenerateReportRequest">
        <soap:header message="tns:PollGenerateReportRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="tns:PollGenerateReportRequest_Headers" part="AuthenticationToken" use="literal" />
        <soap:header message="tns:PollGenerateReportRequest_Headers" part="CustomerAccountId" use="literal" />
        <soap:header message="tns:PollGenerateReportRequest_Headers" part="CustomerId" use="literal" />
        <soap:header message="tns:PollGenerateReportRequest_Headers" part="DeveloperToken" use="literal" />
        <soap:header message="tns:PollGenerateReportRequest_Headers" part="Password" use="literal" />
        <soap:header message="tns:PollGenerateReportRequest_Headers" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PollGenerateReportResponse">
        <soap:header message="tns:PollGenerateReportResponse_Headers" part="TrackingId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault use="literal" name="AdApiFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetailFault">
        <soap:fault use="literal" name="ApiFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingService">
    <wsdl:port name="BasicHttpBinding_IReportingService" binding="tns:BasicHttpBinding_IReportingService">
      <soap:address location="https://reporting.api.bingads.microsoft.com/Api/Advertiser/Reporting/V9/ReportingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>