source/Service References/V10.BulkService/BulkService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://bingads.microsoft.com/CampaignManagement/v10" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BulkService" targetNamespace="https://bingads.microsoft.com/CampaignManagement/v10" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IBulkService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://bingads.microsoft.com/CampaignManagement/v10/Imports">
      <xsd:import schemaLocation="https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc?xsd=xsd0" namespace="https://bingads.microsoft.com/CampaignManagement/v10" />
      <xsd:import schemaLocation="https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc?xsd=xsd3" namespace="https://adapi.microsoft.com" />
      <xsd:import schemaLocation="https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DownloadCampaignsByAccountIdsRequest">
    <wsdl:part name="parameters" element="tns:DownloadCampaignsByAccountIdsRequest" />
  </wsdl:message>
  <wsdl:message name="DownloadCampaignsByAccountIdsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
    <wsdl:part name="CustomerAccountId" element="tns:CustomerAccountId" />
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
    <wsdl:part name="DeveloperToken" element="tns:DeveloperToken" />
    <wsdl:part name="Password" element="tns:Password" />
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="DownloadCampaignsByAccountIdsResponse">
    <wsdl:part name="parameters" element="tns:DownloadCampaignsByAccountIdsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadCampaignsByAccountIdsResponse_Headers">
    <wsdl:part name="TrackingId" element="tns:TrackingId" />
  </wsdl:message>
  <wsdl:message name="IBulkService_DownloadCampaignsByAccountIds_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="https://adapi.microsoft.com" name="detail" element="q1:AdApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="IBulkService_DownloadCampaignsByAccountIds_ApiFaultDetail3Fault_FaultMessage">
    <wsdl:part name="detail" element="tns:ApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="DownloadCampaignsByCampaignIdsRequest">
    <wsdl:part name="parameters" element="tns:DownloadCampaignsByCampaignIdsRequest" />
  </wsdl:message>
  <wsdl:message name="DownloadCampaignsByCampaignIdsRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
    <wsdl:part name="CustomerAccountId" element="tns:CustomerAccountId" />
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
    <wsdl:part name="DeveloperToken" element="tns:DeveloperToken" />
    <wsdl:part name="Password" element="tns:Password" />
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="DownloadCampaignsByCampaignIdsResponse">
    <wsdl:part name="parameters" element="tns:DownloadCampaignsByCampaignIdsResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadCampaignsByCampaignIdsResponse_Headers">
    <wsdl:part name="TrackingId" element="tns:TrackingId" />
  </wsdl:message>
  <wsdl:message name="IBulkService_DownloadCampaignsByCampaignIds_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="https://adapi.microsoft.com" name="detail" element="q2:AdApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="IBulkService_DownloadCampaignsByCampaignIds_ApiFaultDetail3Fault_FaultMessage">
    <wsdl:part name="detail" element="tns:ApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="GetBulkDownloadStatusRequest">
    <wsdl:part name="parameters" element="tns:GetBulkDownloadStatusRequest" />
  </wsdl:message>
  <wsdl:message name="GetBulkDownloadStatusRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
    <wsdl:part name="CustomerAccountId" element="tns:CustomerAccountId" />
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
    <wsdl:part name="DeveloperToken" element="tns:DeveloperToken" />
    <wsdl:part name="Password" element="tns:Password" />
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="GetBulkDownloadStatusResponse">
    <wsdl:part name="parameters" element="tns:GetBulkDownloadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetBulkDownloadStatusResponse_Headers">
    <wsdl:part name="TrackingId" element="tns:TrackingId" />
  </wsdl:message>
  <wsdl:message name="IBulkService_GetBulkDownloadStatus_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="https://adapi.microsoft.com" name="detail" element="q3:AdApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="IBulkService_GetBulkDownloadStatus_ApiFaultDetail3Fault_FaultMessage">
    <wsdl:part name="detail" element="tns:ApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadUrlRequest">
    <wsdl:part name="parameters" element="tns:GetBulkUploadUrlRequest" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadUrlRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
    <wsdl:part name="CustomerAccountId" element="tns:CustomerAccountId" />
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
    <wsdl:part name="DeveloperToken" element="tns:DeveloperToken" />
    <wsdl:part name="Password" element="tns:Password" />
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadUrlResponse">
    <wsdl:part name="parameters" element="tns:GetBulkUploadUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadUrlResponse_Headers">
    <wsdl:part name="TrackingId" element="tns:TrackingId" />
  </wsdl:message>
  <wsdl:message name="IBulkService_GetBulkUploadUrl_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q4="https://adapi.microsoft.com" name="detail" element="q4:AdApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="IBulkService_GetBulkUploadUrl_ApiFaultDetail3Fault_FaultMessage">
    <wsdl:part name="detail" element="tns:ApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadStatusRequest">
    <wsdl:part name="parameters" element="tns:GetBulkUploadStatusRequest" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadStatusRequest_Headers">
    <wsdl:part name="ApplicationToken" element="tns:ApplicationToken" />
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
    <wsdl:part name="CustomerAccountId" element="tns:CustomerAccountId" />
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
    <wsdl:part name="DeveloperToken" element="tns:DeveloperToken" />
    <wsdl:part name="Password" element="tns:Password" />
    <wsdl:part name="UserName" element="tns:UserName" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadStatusResponse">
    <wsdl:part name="parameters" element="tns:GetBulkUploadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetBulkUploadStatusResponse_Headers">
    <wsdl:part name="TrackingId" element="tns:TrackingId" />
  </wsdl:message>
  <wsdl:message name="IBulkService_GetBulkUploadStatus_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q5="https://adapi.microsoft.com" name="detail" element="q5:AdApiFaultDetail" />
  </wsdl:message>
  <wsdl:message name="IBulkService_GetBulkUploadStatus_ApiFaultDetail3Fault_FaultMessage">
    <wsdl:part name="detail" element="tns:ApiFaultDetail" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IBulkService">
    <wsdl:operation name="DownloadCampaignsByAccountIds">
      <wsdl:input wsaw:Action="DownloadCampaignsByAccountIds" name="DownloadCampaignsByAccountIdsRequest" message="tns:DownloadCampaignsByAccountIdsRequest" />
      <wsdl:output wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/DownloadCampaignsByAccountIdsResponse" name="DownloadCampaignsByAccountIdsResponse" message="tns:DownloadCampaignsByAccountIdsResponse" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/DownloadCampaignsByAccountIdsAdApiFaultDetailFault" name="AdApiFaultDetailFault" message="tns:IBulkService_DownloadCampaignsByAccountIds_AdApiFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/DownloadCampaignsByAccountIdsApiFaultDetail3Fault" name="ApiFaultDetail3Fault" message="tns:IBulkService_DownloadCampaignsByAccountIds_ApiFaultDetail3Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadCampaignsByCampaignIds">
      <wsdl:input wsaw:Action="DownloadCampaignsByCampaignIds" name="DownloadCampaignsByCampaignIdsRequest" message="tns:DownloadCampaignsByCampaignIdsRequest" />
      <wsdl:output wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/DownloadCampaignsByCampaignIdsResponse" name="DownloadCampaignsByCampaignIdsResponse" message="tns:DownloadCampaignsByCampaignIdsResponse" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/DownloadCampaignsByCampaignIdsAdApiFaultDetailFault" name="AdApiFaultDetailFault" message="tns:IBulkService_DownloadCampaignsByCampaignIds_AdApiFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/DownloadCampaignsByCampaignIdsApiFaultDetail3Fault" name="ApiFaultDetail3Fault" message="tns:IBulkService_DownloadCampaignsByCampaignIds_ApiFaultDetail3Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBulkDownloadStatus">
      <wsdl:input wsaw:Action="GetBulkDownloadStatus" name="GetBulkDownloadStatusRequest" message="tns:GetBulkDownloadStatusRequest" />
      <wsdl:output wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkDownloadStatusResponse" name="GetBulkDownloadStatusResponse" message="tns:GetBulkDownloadStatusResponse" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkDownloadStatusAdApiFaultDetailFault" name="AdApiFaultDetailFault" message="tns:IBulkService_GetBulkDownloadStatus_AdApiFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkDownloadStatusApiFaultDetail3Fault" name="ApiFaultDetail3Fault" message="tns:IBulkService_GetBulkDownloadStatus_ApiFaultDetail3Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBulkUploadUrl">
      <wsdl:input wsaw:Action="GetBulkUploadUrl" name="GetBulkUploadUrlRequest" message="tns:GetBulkUploadUrlRequest" />
      <wsdl:output wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkUploadUrlResponse" name="GetBulkUploadUrlResponse" message="tns:GetBulkUploadUrlResponse" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkUploadUrlAdApiFaultDetailFault" name="AdApiFaultDetailFault" message="tns:IBulkService_GetBulkUploadUrl_AdApiFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkUploadUrlApiFaultDetail3Fault" name="ApiFaultDetail3Fault" message="tns:IBulkService_GetBulkUploadUrl_ApiFaultDetail3Fault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBulkUploadStatus">
      <wsdl:input wsaw:Action="GetBulkUploadStatus" name="GetBulkUploadStatusRequest" message="tns:GetBulkUploadStatusRequest" />
      <wsdl:output wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkUploadStatusResponse" name="GetBulkUploadStatusResponse" message="tns:GetBulkUploadStatusResponse" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkUploadStatusAdApiFaultDetailFault" name="AdApiFaultDetailFault" message="tns:IBulkService_GetBulkUploadStatus_AdApiFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="https://bingads.microsoft.com/CampaignManagement/v10/IBulkService/GetBulkUploadStatusApiFaultDetail3Fault" name="ApiFaultDetail3Fault" message="tns:IBulkService_GetBulkUploadStatus_ApiFaultDetail3Fault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBulkService" type="tns:IBulkService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IBulkService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadCampaignsByAccountIds">
      <soap:operation soapAction="DownloadCampaignsByAccountIds" style="document" />
      <wsdl:input name="DownloadCampaignsByAccountIdsRequest">
        <soap:header message="tns:DownloadCampaignsByAccountIdsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="tns:DownloadCampaignsByAccountIdsRequest_Headers" part="AuthenticationToken" use="literal" />
        <soap:header message="tns:DownloadCampaignsByAccountIdsRequest_Headers" part="CustomerAccountId" use="literal" />
        <soap:header message="tns:DownloadCampaignsByAccountIdsRequest_Headers" part="CustomerId" use="literal" />
        <soap:header message="tns:DownloadCampaignsByAccountIdsRequest_Headers" part="DeveloperToken" use="literal" />
        <soap:header message="tns:DownloadCampaignsByAccountIdsRequest_Headers" part="Password" use="literal" />
        <soap:header message="tns:DownloadCampaignsByAccountIdsRequest_Headers" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownloadCampaignsByAccountIdsResponse">
        <soap:header message="tns:DownloadCampaignsByAccountIdsResponse_Headers" part="TrackingId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault use="literal" name="AdApiFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetail3Fault">
        <soap:fault use="literal" name="ApiFaultDetail3Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DownloadCampaignsByCampaignIds">
      <soap:operation soapAction="DownloadCampaignsByCampaignIds" style="document" />
      <wsdl:input name="DownloadCampaignsByCampaignIdsRequest">
        <soap:header message="tns:DownloadCampaignsByCampaignIdsRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="tns:DownloadCampaignsByCampaignIdsRequest_Headers" part="AuthenticationToken" use="literal" />
        <soap:header message="tns:DownloadCampaignsByCampaignIdsRequest_Headers" part="CustomerAccountId" use="literal" />
        <soap:header message="tns:DownloadCampaignsByCampaignIdsRequest_Headers" part="CustomerId" use="literal" />
        <soap:header message="tns:DownloadCampaignsByCampaignIdsRequest_Headers" part="DeveloperToken" use="literal" />
        <soap:header message="tns:DownloadCampaignsByCampaignIdsRequest_Headers" part="Password" use="literal" />
        <soap:header message="tns:DownloadCampaignsByCampaignIdsRequest_Headers" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownloadCampaignsByCampaignIdsResponse">
        <soap:header message="tns:DownloadCampaignsByCampaignIdsResponse_Headers" part="TrackingId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault use="literal" name="AdApiFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetail3Fault">
        <soap:fault use="literal" name="ApiFaultDetail3Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBulkDownloadStatus">
      <soap:operation soapAction="GetBulkDownloadStatus" style="document" />
      <wsdl:input name="GetBulkDownloadStatusRequest">
        <soap:header message="tns:GetBulkDownloadStatusRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="tns:GetBulkDownloadStatusRequest_Headers" part="AuthenticationToken" use="literal" />
        <soap:header message="tns:GetBulkDownloadStatusRequest_Headers" part="CustomerAccountId" use="literal" />
        <soap:header message="tns:GetBulkDownloadStatusRequest_Headers" part="CustomerId" use="literal" />
        <soap:header message="tns:GetBulkDownloadStatusRequest_Headers" part="DeveloperToken" use="literal" />
        <soap:header message="tns:GetBulkDownloadStatusRequest_Headers" part="Password" use="literal" />
        <soap:header message="tns:GetBulkDownloadStatusRequest_Headers" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetBulkDownloadStatusResponse">
        <soap:header message="tns:GetBulkDownloadStatusResponse_Headers" part="TrackingId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault use="literal" name="AdApiFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetail3Fault">
        <soap:fault use="literal" name="ApiFaultDetail3Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBulkUploadUrl">
      <soap:operation soapAction="GetBulkUploadUrl" style="document" />
      <wsdl:input name="GetBulkUploadUrlRequest">
        <soap:header message="tns:GetBulkUploadUrlRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="tns:GetBulkUploadUrlRequest_Headers" part="AuthenticationToken" use="literal" />
        <soap:header message="tns:GetBulkUploadUrlRequest_Headers" part="CustomerAccountId" use="literal" />
        <soap:header message="tns:GetBulkUploadUrlRequest_Headers" part="CustomerId" use="literal" />
        <soap:header message="tns:GetBulkUploadUrlRequest_Headers" part="DeveloperToken" use="literal" />
        <soap:header message="tns:GetBulkUploadUrlRequest_Headers" part="Password" use="literal" />
        <soap:header message="tns:GetBulkUploadUrlRequest_Headers" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetBulkUploadUrlResponse">
        <soap:header message="tns:GetBulkUploadUrlResponse_Headers" part="TrackingId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault use="literal" name="AdApiFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetail3Fault">
        <soap:fault use="literal" name="ApiFaultDetail3Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBulkUploadStatus">
      <soap:operation soapAction="GetBulkUploadStatus" style="document" />
      <wsdl:input name="GetBulkUploadStatusRequest">
        <soap:header message="tns:GetBulkUploadStatusRequest_Headers" part="ApplicationToken" use="literal" />
        <soap:header message="tns:GetBulkUploadStatusRequest_Headers" part="AuthenticationToken" use="literal" />
        <soap:header message="tns:GetBulkUploadStatusRequest_Headers" part="CustomerAccountId" use="literal" />
        <soap:header message="tns:GetBulkUploadStatusRequest_Headers" part="CustomerId" use="literal" />
        <soap:header message="tns:GetBulkUploadStatusRequest_Headers" part="DeveloperToken" use="literal" />
        <soap:header message="tns:GetBulkUploadStatusRequest_Headers" part="Password" use="literal" />
        <soap:header message="tns:GetBulkUploadStatusRequest_Headers" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetBulkUploadStatusResponse">
        <soap:header message="tns:GetBulkUploadStatusResponse_Headers" part="TrackingId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault use="literal" name="AdApiFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetail3Fault">
        <soap:fault use="literal" name="ApiFaultDetail3Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkService">
    <wsdl:port name="BasicHttpBinding_IBulkService" binding="tns:BasicHttpBinding_IBulkService">
      <soap:address location="https://bulk.api.bingads.microsoft.com/Api/Advertiser/CampaignManagement/V10/BulkService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>