source/Service References/V9.CustomerManagementService/CustomerManagementService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://bingads.microsoft.com/Customer/v9/Exception" elementFormDefault="qualified" targetNamespace="https://bingads.microsoft.com/Customer/v9/Exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://clientcenter.api.bingads.microsoft.com/Api/CustomerManagement/v9/CustomerManagementService.svc?xsd=xsd3" namespace="https://adapi.microsoft.com" />
  <xs:complexType name="ApiFault">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="https://adapi.microsoft.com" base="q1:ApplicationFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="OperationErrors" nillable="true" type="tns:ArrayOfOperationError" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApiFault" nillable="true" type="tns:ApiFault" />
  <xs:complexType name="ArrayOfOperationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationError" nillable="true" type="tns:OperationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationError" nillable="true" type="tns:ArrayOfOperationError" />
  <xs:complexType name="OperationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationError" nillable="true" type="tns:OperationError" />
  <xs:complexType name="ArrayOfArrayOfOperationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfOperationError" nillable="true" type="tns:ArrayOfOperationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfOperationError" nillable="true" type="tns:ArrayOfArrayOfOperationError" />
</xs:schema>